* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f7f7f7;
  color: #111;
}

.hero-left p{
  width: 350px;
}

.logo img{
  width: 80px;
}


.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 25px 60px;
}

.logo{
  margin-left: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

.nav-links a {
  text-decoration: none;
  /* color: #555; */
  color: #686868;
  font-size: 15px;
  font-weight: 500;
}

.nav-links a:hover{
  /* color: #000; */
  color: #141414;
}

.auth {
  margin-left: auto;
  /* margin-right: -40px; */
  display: flex;
  align-items: center;
  gap: 20px;
}


.login {
  /* color: #555; */
  color: #686868;
  text-decoration: none;
}
.login:hover{
    color: #141414;
}
.register {
  color: #686868;
  padding: 8px 18px;
  border: 1px solid #686868;;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.register:hover{
  border: 1px solid #141414 ;
  color: #141414;

}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 30px;
  margin-top: 10px;
  margin-left: 30px;
}

.hero-left {
  max-width: 500px;
  margin-left: 40px;
}

.hero-left h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 50px;
  margin-bottom: 40px;
  
}

.hero-left p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.cta {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 100px;
}

.cta:hover{
  padding: 10px 20px;
  background-color:#fff;
  color: #000;
  border: 2px solid black;
  border-radius: 10px;
}

.brands {
  display: flex;
  gap: 25px;
  align-items: center;
}

.brands img {
  height: 20px;
  opacity: 0.6;
}


.hero-right img {
  width: 400px;
  max-width: 100%;
}




.nav-links {
  display: flex;
  gap: 25px;
}

.nav-item{
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}


.dropdown-menu {

  position: absolute;
  top: 30px;
  right: 0px;
  min-width: max-content;

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  
}

.dropdown-menu.item{
  position: absolute;
  top: 30px;
  left: 0px;

}

.dropdown.active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Items */
.dropdown-menu p {
  color: #686868;
  margin: 8px 0;
  cursor: pointer;
}

.dropdown-menu p:hover {
  color: #141414;
}

.dropdown-menu p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown-menu img{
  width: 10px;
}



.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  transition: transform 0.25s ease;
}


.dropdown.active .arrow {
  transform: rotate(180deg);
}



.menu-toggle {
  margin-left: auto;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.menu-toggle span {
  width: 25px;
  height: 2px;
  background: black;
}

/* MOBILE */
@media (max-width: 768px) {

  .navbar {
    padding: 20px;
  }
  .logo {
    margin: 0;
  }

  .menu-toggle {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: white;
    
    flex-direction: column;
    padding: 80px 20px;
    gap: 20px;

    transition: 0.3s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .auth {
    display: none;
  }

  .logo {
    gap: 0;
    margin-left: 0;
  }

  /* Hero stack */
  .hero {
    flex-direction: column-reverse;
    padding: 20px;
    margin: 0;
    text-align: center;
  }

  .hero-left {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 36px;
  }

  .hero-left h1 br {
    display: none;
  }

  .hero-left h1 {
    margin-top: -20px;
    font-size: 35px;
    line-height: 1.2;

     max-width: 320px;   
     margin: 0 auto;

    text-align: center;
    
  }

  .hero-left p {
   margin-top: 20px;
    width: 100%;
  }




   .hero {
    padding: 0;
  }

  .hero-left {
    padding: 20px; 
  }

  .hero-right img {
    width: 100%;
    display: block;
  }

  .brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .brands img{
    width: 70px;
    height: auto;
  }
}


@media (max-width: 768px) {
  .dropdown-menu {
    position: static;
    box-shadow: none;
    padding-left: 20px;
    opacity: 1;
    visibility: visible;
    transform: none;
    display: none;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }
}