* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f7f7f7;
  color: #111;
}

.hero-left p{
  width: 350px;
}

.logo img{
  width: 80px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo{
  margin-left: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
}

.nav-links a:hover{
  color: #000;
}

.auth {
  margin-right: -40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  color: #555;
  text-decoration: none;
}

.register {
  padding: 8px 18px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 30px;
}

.hero-left {
  max-width: 500px;
  margin-left: 100px;
}

.hero-left h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 50px;
  margin-bottom: 40px;
  
}

.hero-left p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.cta {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 100px;
}

.cta:hover{
  padding: 10px 20px;
  background-color:#fff;
  color: #000;
  border: 2px solid black;
  border-radius: 10px;
}

.brands {
  display: flex;
  gap: 25px;
  align-items: center;
}

.brands img {
  height: 20px;
  opacity: 0.6;
}


.hero-right img {
  width: 350px;
  max-width: 100%;
}




.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item{
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}

/* Dropdown base */
.dropdown-menu {

  position: absolute;
  top: 30px;
  right: 0px;
  min-width: max-content;

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  
}



.dropdown.active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Items */
.dropdown-menu p {
  margin: 8px 0;
  cursor: pointer;
}

.dropdown-menu p:hover {
  color: #000;
}

.dropdown-menu p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown-menu img{
  width: 10px;
}


/* Arrow */
.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  transition: transform 0.25s ease;
}

/* Rotate when open */
.dropdown.active .arrow {
  transform: rotate(180deg);
}